<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.sfaas.mapper.DefectMapper">

    <select id="selectTotalInspectionsToday" resultType="long">
        SELECT COUNT(*) FROM check_order WHERE DATE(order_create_dt) = CURDATE()
    </select>

    <select id="selectTotalDefectsToday" resultType="long">
        SELECT COUNT(*) FROM check_result WHERE DATE(result_create_dt) = CURDATE() AND error_id != '0000'
    </select>

    <select id="selectTotalInspectionsLast7Days" resultType="long">
        SELECT COUNT(*) FROM check_order WHERE order_create_dt >= CURDATE() - INTERVAL 7 DAY
    </select>

    <select id="selectTotalDefectsLast7Days" resultType="long">
        SELECT COUNT(*) FROM check_result WHERE result_create_dt >= CURDATE() - INTERVAL 7 DAY AND error_id != '0000'
    </select>

    <select id="selectMostFrequentDefect" resultType="String">
        SELECT e.error_name
        FROM check_result cr JOIN error e ON cr.error_id = e.error_id
        WHERE cr.error_id != '0000'
        GROUP BY e.error_name ORDER BY COUNT(*) DESC LIMIT 1
    </select>

    <select id="selectDailyDefectTrends" resultType="map">
        SELECT DATE_FORMAT(result_create_dt, '%Y-%m-%d') AS day_label, COUNT(*) AS count
        FROM check_result
        WHERE result_create_dt >= CURDATE() - INTERVAL 7 DAY AND error_id != '0000'
        GROUP BY day_label ORDER BY day_label ASC
    </select>

    <select id="selectDefectDistributionByType" resultType="map">
        SELECT e.error_name as name, COUNT(*) as value
        FROM check_result cr JOIN error e ON cr.error_id = e.error_id
        WHERE cr.error_id != '0000'
        GROUP BY e.error_name
    </select>

    <select id="selectDefectDistributionByMachine" resultType="map">
        SELECT m.machine_name as name, COUNT(*) as value
        FROM check_result cr
        JOIN check_order co ON cr.order_id = co.order_id
        JOIN machine m ON co.machine_id = m.machine_id
        WHERE cr.error_id != '0000'
        GROUP BY m.machine_name
    </select>

    <select id="selectDefectLogs" resultType="com.team1.sfaas.model.DefectLog">
        SELECT
        cr.result_id as id,
        cr.result_create_dt as inspectionTime,
        i.vin as vin,
        i.color as color,
        e.error_name as errorName,
        m.machine_name as machineName,
        h.name as inspectorName
        FROM check_result cr
        JOIN check_order co ON cr.order_id = co.order_id
        JOIN item i ON co.item_id = i.item_id
        JOIN error e ON cr.error_id = e.error_id
        JOIN machine m ON co.machine_id = m.machine_id
        JOIN HR h ON co.user_id = h.user_id
        WHERE cr.error_id != '0000'
        ORDER BY cr.result_create_dt DESC
    </select>
</mapper>